@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
textarea {
	-webkit-appearance: none;
}
.color-bg {
	background-color: #f0fbff;
}
body {
	font-family: Tahoma, Geneva, sans-serif;
	position: relative;
	background-image: url(../images/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.layer {
	position: relative;
}
.header {
}
.top {
	height: 78px;
}
.top .logo, .top .logo-2 {
	background-image: url(../images/logo.png);
	height: 57px;
	width: 387px;
	display: block;
	text-decoration: none;
	font-size: 0px;
}
.top .logo-2 {
	background-image: url(../images/logo-2.png);
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
	width: 325px;
}
.top .fecha {
	font-size: 10px;
	color: #2a3c55;
	float: left;
	display: inline-block;
	margin-top: 16px;
}
.top .bar {
}
.top .bar .registrate {
	float: right;
	display: inline-block;
	background-color: transparent;
	box-shadow: none;
	color: #5e7b9a;
	text-decoration: none;
	background-image: url(../images/bg-enlace.png);
	background-repeat: repeat-y;
	background-position: right top;
	margin-right: 10px;
	padding-right: 10px;
}
.top .bar .registrate:hover {
	color: #2a4369;
	text-decoration: underline;
	background-color: transparent;
}
.top .bar .registrate:hover span {
	background-image: url(../images/user-hover.png);
}
.top .bar {
	overflow: hidden;
	margin-top: 4px;
	display: inline-block;
	float: right;
}
.top .bar .registrate span {
	background-image: url(../images/user.png);
	margin-right: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 4px;
}
.top .bar .compartir {
	float: right;
	margin-top: 2px;
	background-image: url(../images/compartir-2.png);
	height: 18px;
	width: 82px;
}
.top .bar .compartir:hover {
	background-image: url(../images/compartir-2-hover.png);
}
.top .registrate, .opciones .nueva, .opciones .modificar {
	background-color: #5e7b9a;
	display: inline-block;
	color: #FFF;
	font-size: 11px;
	text-decoration: none;
	overflow: hidden;
	float: right;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(206, 220, 245, 1);
	-moz-box-shadow: 1px 1px 2px 0px rgba(206, 220, 245, 1);
	box-shadow: 1px 1px 2px 0px rgba(206, 220, 245, 1);
}
.header h4 {
	font-size: 10px;
	color: #1f3657;
	text-align: center;
	font-weight: normal;
}
.header h2 {
	font-weight: normal;
	color: #747474;
	font-size: 13px;
	text-align: center;
	display: block;
}
.header h2 strong {
	text-transform: uppercase;
	color: #1f3657;
}
.header h2 strong.big {
	font-size: 20px;
	font-weight: bold;
	color: #1f3657;
}
.compartir {
	background-image: url(../images/compartir.png);
	height: 25px;
	width: 95px;
	background-position: center top;
	background-repeat: no-repeat;
	margin: auto;
	text-decoration: none;
	font-size: 0px;
	display: block;
}
.compartir:hover {
	background-image: url(../images/compartir-hover.png);
}
.top .registrate span, .opciones .nueva span, .opciones .modificar span {
	background-image: url(../images/icon-user.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 10px;
	display: block;
	margin-right: 10px;
	margin-left: 10px;
}
.top .registrate:hover, .opciones .nueva:hover, .opciones .modificar:hover {
	background-color: #1f3657;
}
.content {
}
.content p.parrafo01 {
	color: #747474;
	font-size: 11px;
	line-height: 16px;
	word-spacing: 2px;
}
.footer {
}
.page {
	width: 960px;
	display: block;
	margin: auto;
}
.page2 {
	display: block;
	margin: auto;
	width: 712px;
}
.step {
	display: block;
	background-color: #f0fbff;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 15px;
	border: 1px solid #f0fbff;
	color: #757575;
}
.step:hover {
	border: 1px solid #a7b7cd;
	-webkit-box-shadow: inset -3px 1px 5px 5px rgba(167, 183, 205, 0.2);
	-moz-box-shadow: inset -3px 1px 5px 5px rgba(167, 183, 205, 0.2);
	box-shadow: inset -3px 1px 5px 5px rgba(167, 183, 205, 0.2);
}
.step h3 {
	display: inline-block;
	vertical-align: top;
	width: 13.5%;
	padding: 0px;
	font-size: 20px;
	font-weight: bold;
	margin-top: -5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #1f3657;
}
.all {
	font-size: 13px;
	color: #5d99ef;
	line-height: 16px;
	display: inline-block;
	vertical-align: top;
}
.all label, label.all {
	display: inline-block;
	font-size: 11px;
}
.all label input, .all input {
	margin-top: 2px;
	float: left;
	margin-right: 4px;
}
.step .step-content {
	display: inline-block;
	vertical-align: top;
	width: 80%;
	font-size: 13px;
	font-weight: normal;
}
.step .step-content label span {
	min-width: 150px;
	display: inline-block;
}
.step .step-content .row:first-child {
	margin-top: 0px;
}
.step .step-content .row {
	margin-top: 12px;
}
.step.active {
	background-color: #1f3657;
	color: #fff;
	border: 1px solid #1f3657;
	box-shadow: none;
}
.step.active h3 {
	color: #fff;
}
.row {
	display: block;
}
.checkbox-content {
	overflow: hidden;
}
.checkbox-content label {
	display: block;
	float: left;
	width: 25%;
	margin-top: 2px;
	margin-bottom: 2px;
}
/* boton ayuda */
.help {
	position: absolute;
	top: 25%;
	right: 0px;
}
.help-form {
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.45);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.45);
	z-index: 999;
	position: relative;
}
.help-form .help-content input[type=text] {
	height: 20px;
}
.help-form .help-content {
	padding: 20px;
	color: #8f9196;
	font-size: 12px;
}
.help-form .help-content .row:first-child {
	margin-top: 0px;
}
.help-form .help-content .row {
	margin-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
}
.help-form .help-content strong {
	font-size: 13px;
}
.label01 {
	display: inline-block;
	width: 70px;
	font-size: 11px;
}
.help-form .help-content .fields label {
	display: block;
	font-size: 11px;
}
.help-form .help-content .fields label span {
	display: inline-block;
	width: 65px;
}
.help-form .help-content textarea {
	width: 100%;
	height: 92px;
}
.help-form .help-content .bulet {
	background-image: url(../images/bulet.jpg);
	background-position: left 6px;
	background-repeat: no-repeat;
}
.help-form .help-content .fields input, .help-form .help-content textarea {
	border: solid 1px #aec0cb;
}
.center {
	text-align: center;
}
.feedback_content {
	margin-top: 10px;
	margin-bottom: 20px;
}
/*tabla*/

.table table {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	width: 100%;
}
.table table tr {
	color: #666;
	background-color: #FFFFFF;
}
.table table tr th {
}
.table table.table-data tr th:first-child {
	border-left-color: #909090;
}
.table table tr th {
	background-color: #2a4369;
	color: #FFF;
	font-weight: normal;
	font-size: 12px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFF;
}
.table table tr th table {
	padding: 10px 5px;
}
.dolar {
	font-size: 20px !important;
	font-weight: bold;
}
.table table tr th table, .table table tr th table tr th {
	background-color: #641514 !important;
	border: none !important;
	font-size: 11px;
	color: #FFF;
}
.table table tr.hide {
	display: none;
}
.table table tr.show {
}
.table table tr td {
	padding-top: 13px;
	padding-bottom: 13px;
	font-size: 11px;
	color: #666666;
}
.table table tr td, .table table tr th {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999;
}
.table table tr th.sub {
	background-color: #881e19;
}
.table table tr:nth-of-type(odd) td.rosa {
	background-color: #f8e6e6;
}
.table table tr:nth-of-type(odd) {
	background-color: #e5eefe;
}
.table table th.sub {
	border-left-color: #fff !important;
}
.table .more-rows:hover {
	background-color: #8e8e8e;
}
.table .more-rows span {
	background-image: url(../images/bulet3.png);
	background-position: right center;
	padding-top: 5px;
	padding-right: 30px;
	padding-bottom: 5px;
	background-repeat: no-repeat;
	display: inline-block;
}
.table .more-rows {
	display: block;
	background-color: #a2a2a2;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
	color: #FFF;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
}
/* info*/

.overlay {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #CCC;
	top: 0px;
}
.fecha {
	margin-bottom: 21px;
}
.descripcion {
	height: 108px;
}
.step .step-content .row.boton {
	margin-top: 20px;
	text-align: center;
}
button.boton2, a.boton.boton-2 {
	-webkit-box-shadow: inset 0px 0px 7px 2px rgba(255, 255, 255, 0.65);
	-moz-box-shadow: inset 0px 0px 7px 2px rgba(255, 255, 255, 0.65);
	box-shadow: inset 0px 0px 7px 2px rgba(255, 255, 255, 0.65);
	border: 1px solid #cad6dc;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	text-decoration: none;
}
button.boton2:hover, a.boton.boton-2:hover {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
}
a.boton {
	left: 74px;
}
button, a.boton {
	background-image: url(../images/bgbutton-2.jpg);
	background-position: left bottom;
	background-repeat: repeat-x;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FFFFFF;
	margin: auto;
	padding-top: 9px;
	padding-right: 25px;
	padding-bottom: 9px;
	padding-left: 25px;
	color: #172840;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0px 0px 7px 2px rgba(255, 255, 255, 0.65), 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 0px 0px 7px 2px rgba(255, 255, 255, 0.65), 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: inset 0px 0px 7px 2px rgba(255, 255, 255, 0.65), 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
	font-style: normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
button:hover, a.boton:hover {
	-webkit-box-shadow: inset 0px 0px 15px 2px rgba(255, 255, 255, 0.65), 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 0px 0px 15px 2px rgba(255, 255, 255, 0.65), 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: inset 0px 0px 15px 2px rgba(255, 255, 255, 0.65), 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
	cursor: pointer;
}
.help-open {
	background-image: url(../images/ayuda.png);
	height: 53px;
	width: 47px;
	text-decoration: none;
	font-size: 0px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: right center;
	position: absolute;
	right: 0px;
	z-index: 0;
}
.help-open:hover {
	background-image: url(../images/ayuda_hover.png);
	background-repeat: no-repeat;
}
.help-close {
	background-image: url(../images/close.png);
	height: 29px;
	width: 29px;
	position: absolute;
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	right: 10px;
	font-size: 0px;
	top: 10px;
}
.capcha {
	width: 238px;
}
.bulet2 {
	background-image: url(../images/bulet2.jpg);
	background-position: center center;
	width: 5px;
	background-repeat: no-repeat;
}
.capcha {
	margin-top: 10px;
}
.capcha tr td {
	font-size: 10px;
}
.capcha tr td input {
	width: 100%;
	line-height: 24px;
}
.capcha tr td input, .capcha tr td img {
	border: 1px solid #aec0cb;
}
.capcha tr td {
	padding: 2px 0px;
}
.capcha tr td a {
	color: #5e7b9a;
	text-decoration: none;
}
.padding-top-20 {
	padding-top: 20px;
}
.margin-top-20 {
	margin-top: 20px !important;
}
.margin-top-10 {
	margin-top: 10px !important;
}
.margin-top-15 {
	margin-top: 15px !important;
}
.margin-top-18 {
	margin-top: 18px !important;
}
#tabs {
	position: relative;
	margin-top: 20px;
}
#tabs .tabs-links {
}
#tabs a.tabs-links {
	font-size: 13px;
	color: #2a4369;
	text-decoration: none;
	background-image: url(../images/tab-off.png);
	background-position: -10px -7px;
	background-repeat: no-repeat;
	height: 41px;
	width: 280px;
	display: inline-block;
	margin-bottom: -1px;
	z-index: 0;
	position: relative;
	margin-right: -40px;
	line-height: 44px;
	font-weight: bold;
}
#tabs a.tabs-links:hover {
	background-image: url(../images/tab-hover.png);
}
#tabs a.tabs-links span {
	display: inline-block;
	margin-left: 40px;
}
#tabs .tabs-links.active, #tabs .tabs-links.active:hover {
	z-index: 9999 !important;
	font-size: 13px;
	font-weight: bold;
	color: #2a4369;
	background-image: url(../images/tab-on.png);
}
.clear {
	clear: both;
}
#tabs .tabs-content {
	background-color: #f3fbff;
	padding: 30px;
	position: relative;
	z-index: 10;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(21,40,68,1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(21,40,68,1);
	box-shadow: 0px 0px 3px 0px rgba(21,40,68,1);
	margin-right: 5px;
	margin-left: 3px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9dacb4;
}
#tabs .tabs-content .col1, #tabs .tabs-content .col2 {
	vertical-align: top;
}
#tabs .tabs-content .col1 {
	width: 69%;
	display: inline-block;
}
#tabs .tabs-content .col2 {
	width: 30%;
	display: inline-block;
}
.mapas {
	margin-left: 35px;
}
.mapas p {
	width: 234px;
	font-size: 10px;
	color: #737373;
	line-height: 140%;
	margin-top: 20px;
}
.mapas img {
	border: solid 1px #919191;
}
.mapas .mapa {
	width: 234px;
	position: relative;
}
.mapas .mapa a {
	position: absolute;
	z-index: 20;
	bottom: 10px;
	left: 66px;
}
.mapas .mapa:hover .sombra {
	background-image: url(../images/bg-mapa-hover.png);
}
.mapas .mapa .sombra {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../images/bg-mapa.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	z-index: 10;
}
.info {
	font-size: 11px;
	color: #566eac;
	background-image: url(../images/lupas.png);
	background-position: left 5px;
	;
	background-repeat: no-repeat;
	padding-left: 23px;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
}
.postcontent .col1 {
	width: 44.5%;
	display: inline-block;
	padding: 10px 2%;
	padding-right: 0px;
}
.postcontent .col2 {
	width: 45.5%;
	display: inline-block;
	padding: 10px 2%;
}
.postcontent {
	margin-top: 40px;
	margin-bottom: 40px;
}
.postcontent .page {
}
.leyenda {
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	padding: 35px 40px 0px 35px;
}
.postcontent .page .postcontentlayer {
	background-color: #2a4369;
	margin-left: 3px;
	margin-right: 5px;
	padding-bottom: 30px !important;
}
.postcontent ul {
	margin-left: 28px;
	padding-left: 0px;
}
.postcontent ul li span {
	color: #fff;
}
.postcontent ul li {
	color: #00ccff;
	font-size: 12px;
}
.info:hover {
	background-position: left -19px;
}
h1.title {
	font-size: 0px;
	font-weight: bold;
	color: #2a4369;
	display: inline-block;
	background-image: url(../images/title.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 58px;
	width: 322px;
	float: left;
}
.opciones {
	display: inline-block;
	float: right;
	margin-top: 15px;
	overflow: hidden;
}
.opciones .nueva span {
	background-image: url(../images/nueva-1.png);
	padding-left: 35px;
}
.opciones .modificar {
	margin-left: 18px;
}
.opciones .modificar span {
	background-image: url(../images/modificar.png);
	padding-left: 33px;
}
#cboxClose {
	background-image: url(../images/close-1.png) !important;
	height: 49px;
	width: 50px;
	display: block;
	background-repeat: no-repeat;
	background-position: right top;
	box-shadow: none;
}
#cboxClose:hover {
	background-image: url(../images/close-1-hover.png) !important;
}


.infobox #cboxClose {
	background-image: url(../images/close-2.jpg) !important;
	height: 55px;
	width: 55px;
	display: block;
	background-repeat: no-repeat;
	background-position: right top;
	box-shadow: none;
	margin-top: 1px;
	margin-right: 1px;
}
.infobox #cboxClose:hover {
	background-image: url(../images/close-2-hover.jpg) !important;
	height: 56px;
	width: 56px;
	margin-top: 1px;
	margin-right: 1px;
	display: block;
}


.info-layer {
	margin: 0px;
	padding: 0px;
	background-image: url(../images/bg-info.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.info-layer {
	width: 958px;
	display: block;
	margin: auto;
	position: relative;
}
.info-layer .control:hover
{
	opacity:0.5;}
.info-layer .control
{
	display: block;
	position: absolute;
	height: 100%;
	width: 50px;
	background-image: url(../images/flechas.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.info-layer .control span
{
	font-size: 0;	

}

.info-layer .control.next
{
	right: 20px;
	background-position: right;
}
.info-layer .control.prev
{
	left: 20px;
}

.info-content {
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-left: 85px;
	margin: auto;
	border: 1px solid #FFF;
}
.tabs-info-content
{
	margin-top:35px;}
.info-content h3 {
	font-size: 15px;
	color: #FFF;
}
.info-content 
h2
{
	color: #05ceff;
	font-size: 15px;
	display: block;
	font-weight: normal;
}

.info-content h1
{
	font-weight: bold;
	color: #05ceff;
	font-size: 25px;
	display: block;
	margin-bottom: 15px;
}
.info-content p
{
	font-size: 12px;
	font-weight: normal;
	color: #FFF;
	margin-bottom: 15px;
}
.info-content .tabs-info {
	clear: both;
	margin-top: 20px;
}

.info-content .descarga:hover
{
	background-color: #c1d7ff;
}
.info-content .descarga
{
	background-image: url(../images/adobe.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 40px;
	display: inline-block;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	text-decoration: none;
	font-size: 12px;
	color: #2a4369;
	background-color: #FFF;
	margin-top: 20px;
}
.info-content .tabs-info-content .col1, 
 .info-content .tabs-info-content .col2 {
	display: inline-block;
	width: 48%;
	color: #FFF;
	vertical-align: top;
}
.info-content .tabs-info-content .col1 {
	width: 40%;
}
.info-content .tabs-info-content .col2 {
	width: 55%;
}
.info-content .tabs-info  a {
	color: #FFF;
	text-decoration: none;
	background-color: #5e7b9a;
	display: inline-block;
	padding-top: 14px;
	padding-right: 10px;
	padding-bottom: 14px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #a8d2ff;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #152133;
	font-size: 12px;
	font-weight: lighter;
}
.info-content .tabs-info  a:hover {
	background-color: #8299B3;
}
.info-content .tabs-info a {
	display: inline-block;
	float: left;
}
.info-content .tabs-info  a.active {
	background-color: #d5e4ff;
	color: #2a4369;
}

.info-content table
{
	border: 1px solid #FFF;
	font-size: 12px;
}
.info-content table tr th
{
	background-color: #2a4369;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFF;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 12px;
	font-weight: normal;
	color: #FFF;
}
.info-content table tr th:first-child,
.info-content table tr td:first-child
{
	border:none;}
.info-content table tr td
{
	background-color: #e5eeff;
	font-size: 11px;
	color: #666666;
	padding: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #6883ab;
}


.info-content table tr:nth-of-type(odd) td
{
	background-color: #FFFFFF;
}

.tab-info:first-child
{
	display:block;}
	.tab-info
	{
		display:none;}
.tab-content-data
{
	display:none;}
	.tab-content-data:first-child
	{
		display:inherit;}